H4 {
  text-align: center;
}

.page-title {

}

.err-msg {
  color: red;
}

.invalid {
  /* want this to override the default styling of the form input */
  border:1px solid red !important;
}

.alertShown {
	display: none;
}
