H4 {
	text-align: center;
}

P {
	text-align: center;
	margin: 0;
	padding:0;
	line-height: 0.75;
}

.page-title {

}

.err-msg {
	color: red;
}

.invalid {
	/* want this to override the default styling of the form input */
	border:1px solid red !important;
}